/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loading {

    display:none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;

    background: url('../../img/fastintellinet1.png') no-repeat ,rgb(34, 34, 34);
                background-size: 70%;
                background-position-x: 50%;
                background-position-y: 50%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #loading {
    display: block;
}

.loader {
    display:none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 10000;
    top: 40%;
    left: 40%;
}

.loader2 {
    display:none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 10000;
    top: 40%;
    left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#game-over {

    display:none;
    position:   fixed;
   z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;

    background: url('../../img/alt.png') 
        50% 50% 
        no-repeat,
        rgb(34, 34, 34);
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.game-over {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.game-over #game-over {
    display: block;
}