.hidden {
    display:none;
}
.button {
    border: 0px solid white;
    padding-top: 150px;
    background-color: white;
    color: lightgrey;
    width: 100%;
    height: 450px;
    font-size: 100px;
    text-align: center;
    background-image: url("../../uploads/logo");
    background-repeat: no-repeat;
}

.button:hover {
    background-color: silver;
    color:grey;
    cursor: pointer;
}

.btn-grigio-chiaro {
    border:3px solid black !important;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);        
    text-align: center;
}

.btn-grigio-chiaro:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

#fattura_circuito table th{
    letter-spacing: -1.2px;
    font-size: 15px;
    line-height: 15px;
    padding-left:5px;
    padding-right:5px;
}
#fattura_circuito table td{
    letter-spacing: -0.8px;
    font-size: 16px;
    line-height: 15px;
    padding-left:5px;
    padding-right:5px;
}

.nascondibile:not(.BAR)
{
    display:none;
}

.btn-tav:active {
    background: rgb(34, 34, 34);
    background-image: -webkit-linear-gradient(top,  rgb(34, 34, 34), rgb(70, 69, 69));
    background-image: -moz-linear-gradient(top,  rgb(34, 34, 34), rgb(70, 69, 69));
    background-image: -ms-linear-gradient(top,  rgb(34, 34, 34), rgb(70, 69, 69));
    background-image: -o-linear-gradient(top,  rgb(34, 34, 34), rgb(70, 69, 69));
    background-image: linear-gradient(to bottom,  rgb(34, 34, 34), rgb(70, 69, 69));
    text-decoration: none;
}

.btn-tav:hover {
    background-color: rgb(34, 34, 34);
}

.btn-tav{
    background: rgb(70, 69, 69);
    background-image: -webkit-linear-gradient(top, rgb(111, 109, 109), rgb(34, 34, 34));
    background-image: -moz-linear-gradient(top,  rgb(111, 109, 109), rgb(34, 34, 34));
    background-image: -ms-linear-gradient(top,  rgb(111, 109, 109), rgb(34, 34, 34));
    background-image: -o-linear-gradient(top,  rgb(111, 109, 109), rgb(34, 34, 34));
    background-image: linear-gradient(to bottom,  rgb(111, 109, 109), rgb(34, 34, 34));
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}

#scelta_buoni label {
    font-weight:normal;
}

#scelta_buoni select {
    font-size:25.5px;
    height:auto;
}

#scelta_buoni input {
    font-size:25.5px;
    height:auto;
}

.editor_circuiti input {
    font-size:25.5px;
    height:auto;
}

.editor_clienti input:not(.esclusione_css) {
    font-size:25.5px;
    height:auto;
}

.editor_stampanti input {
    font-size:25.5px;
    height:auto;
}


.editor_operatori input {
    font-size:25.5px;
    height:auto;
}


.pager>li.pagina_esistente>a{
}

#mappa_tavoli {
    max-width:1800px;
    transform: deg(90);
}

div.ui-keyboard-keyset.ui-keyboard-keyset-normal > button.ui-keyboard-button.ui-keyboard-accept.ui-keyboard-actionkey.ui-state-default.ui-corner-all.ui-state-active{
    background-color:green;
    background-image: initial;
    border:initial;
}

div.ui-keyboard-keyset.ui-keyboard-keyset-normal > button.ui-keyboard-button.ui-keyboard-cancel.ui-keyboard-actionkey.ui-state-default.ui-corner-all.ui-state-active{
    background-color:red;
    background-image: initial;
    border:initial;
}


div.tavolo {
    margin-top:2.34vh;
    margin-bottom:2.34vh;
    float:left;
    /* background-color:silver; */
    display:table;
    color:black;
} 

div.tavolo.rett{
    position:fixed;
    cursor:pointer;
    /* min-width:103px; */
    /* min-height:11.25vh; */
    margin:0;
    /*border: 2px solid black;*/
    background: silver;
    background-image: -webkit-linear-gradient(top, silver, #797979);
    background-image: -moz-linear-gradient(top,  silver, #797979);
    background-image: -ms-linear-gradient(top,  silver, #797979);
    background-image: -o-linear-gradient(top,  silver, #797979);
    background-image: linear-gradient(to bottom,  silver, #797979);
}

div.tavolo.cerc{
    position:fixed;
    min-width:103px;
    min-height:11.25vh;
    border-radius:50px;
    cursor:pointer;
    margin:0;
    background: silver;
    background-image: -webkit-linear-gradient(top, silver, #797979);
    background-image: -moz-linear-gradient(top,  silver, #797979);
    background-image: -ms-linear-gradient(top,  silver, #797979);
    background-image: -o-linear-gradient(top,  silver, #797979);
    background-image: linear-gradient(to bottom,  silver, #797979);
}

div.tavolo.rett-min{
    width:50px;
    height:5.86vh;
    cursor:pointer;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}

div.tavolo.cerc-min{
    width:50px;
    height:5.86vh;
    border-radius:25px;
    cursor:pointer;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}

div.tavolo>h4,div.tavolo>h6,div.tavolo>p {
    display: table-row;
    vertical-align: middle;
    text-align:center;
    margin-top:20%;
    margin: 0;
}

div.tavolo.rett
{
    font-size: 2vh;


    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

div.tavolo.cerc>h6
{
    font-size: 2vh;

    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

div.tavolo.cerc:active {
    background: #797979;
    background-image: -webkit-linear-gradient(top,  #797979, silver);
    background-image: -moz-linear-gradient(top,  #797979, silver);
    background-image: -ms-linear-gradient(top,  #797979, silver);
    background-image: -o-linear-gradient(top,  #797979, silver);
    background-image: linear-gradient(to bottom,  #797979, silver);
    text-decoration: none;
}


div.tavolo.rett:active {
    background: #797979;
    background-image: -webkit-linear-gradient(top,  #797979, silver);
    background-image: -moz-linear-gradient(top,  #797979, silver);
    background-image: -ms-linear-gradient(top,  #797979, silver);
    background-image: -o-linear-gradient(top,  #797979, silver);
    background-image: linear-gradient(to bottom,  #797979, silver);
    text-decoration: none;
}

div.tavolo>h6>b {
    font-size: 4vh;
}

div.tavolo>p {
    color:red;
    cursor:pointer;
}

.forma_selezionata,#nuovo_tavolo.btn-danger:focus,#nuovo_tavolo.btn-danger:active,#nuovo_tavolo.btn-danger:hover, #nuovo_tavolo.btn-danger:visited {
    border:3px solid white;
    outline-color: transparent;
}



.list-group-item{
    border:4px solid rgb(34,34,34);
    background-color:rgb(70, 69, 69);
    font-size: 2vh;
}

.tastone_iniziale {
    cursor:pointer;
}

.no-padding .btn {
    padding:0 !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.ajax input {
    font-size:25.5px;
}

.btn {
    margin: 2px;
    padding-left:5px;
    padding-right:5px;
    font-size: 1.85rem;
    font-weight:bold;
}

.dati_tecnici {
    font-size:2.5rem;
    z-index: 10;
}

ul.pager {
    font-size: 25.5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul.pager>li {
    cursor: pointer;
}

ul.pager>li>a.active {
    background-color: red;
}

table th {
    font-size: 1.4em;
}

.modal-content {
    font-size: 1.7em;
}

.modal-title {
    /*Modificato il 16/07/2019 per bootbox.alert dello scontrino annullabile non trovato*/
    font-size: 1.2em;
}


.modal-footer .btn {
    font-size: 0.9em;
}

.modal-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0.95;
}

.modal-full-screen>.modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;

}

#popup_data_fattura_nonpagati input,#popup_variante_libera input,#popup_sposta_tavolo_nuovo_parcheggio input,#popup_sposta_parcheggio input,#popup_sposta_articolo input,#popup_sposta_tavoli input,#aggiungi_prodotto input,#modifica_articolo select,#popup_mod_art input,#calcola_resto input,#prod_libero input,#parcheggia_comanda input, #popup_scelta_cliente select, #popup_scelta_cliente input, #fattura select, #fattura input,#popup_nonpagato select, #popup_nonpagato input, #sconto_libero input, #sconto_libero select{
    font-size:25.5px;
    height:initial;
}

.elenco_prodotti li > span {
    display:table-cell !important;
    vertical-align:middle;
}

.alfabeto div.position{
    width:100%;
    position:fixed;
}



.elenco_prodotti li {
    display:table;
    color:black;
    font-size: 18px;
    /* min-width: 151px; */
    cursor:pointer;
    border: 1px solid black;
    height: 123px;
    min-height: 84px;
}

.elenco_categorie_list>.list-group>a{
    float: left;
    /* width: 100%; */
    text-align: center;
    color: snow;
    border-radius: 10px;
    font-weight: bold;
    background-image:  -webkit-linear-gradient(top, rgb(128, 128, 128),rgb(70, 69, 69));
    text-shadow: 1px 1px 1px #000000;
    border: 2px solid black;
}

.cat_accesa{                
    background-image: -webkit-linear-gradient(top,#527cdb,#2556b0) !important;
}

table, .dati_tecnici:not(button), .dati_tecnici:not(input) {
    cursor:context-menu;
}
.quadratone > .col-md-12 > div{
    float: left;
    /*margin: 1%;*/
    width: 33%;
    height: 15vh;}

.quadratone > .col-md-12 > div.tastone_iniziale {

    background-color: silver;
    padding: 10px;
    display: table;
    text-align: center;
    color: black;
    font-size:3.5vh;
    font-weight:bold;


    background: silver;
    background-image: -webkit-linear-gradient(top, silver, darkgrey);
    background-image: -moz-linear-gradient(top,  silver, darkgrey);
    background-image: -ms-linear-gradient(top,  silver, darkgrey);
    background-image: -o-linear-gradient(top,  silver, darkgrey);
    background-image: linear-gradient(to bottom,  silver, darkgrey);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

.quadratone > .col-md-12 > div.tastone_iniziale:hover {
    background-color: snow;
}

.quadratone > .col-md-12 > div > p {
    vertical-align: middle;
    display: table-cell;
}

.tab_conto tr>td,.tab_conto tr>th {
    font-size:1.9rem;
}

.tab_conto tr>td:nth-child(1),.tab_conto tr>th:nth-child(1) {
    width:10%;
}

.tab_conto tr>td:nth-child(2),.tab_conto tr>th:nth-child(2) {
    width:70%;
}

.tab_conto tr>td:nth-child(3),.tab_conto tr>th:nth-child(3) {
    width:20%;
}

.tab_conto tr>td:nth-child(4),.tab_conto tr>th:nth-child(4) {
    width:10%;
}

.tab_conto tr>th,.tab_conto tr>td {
    vertical-align: middle !important;
}
.tab_conto tr,.tab_conto tr>td:nth-child(5) {
    font-size: 25px;
}

.gra1 {
    width:31%;
}

.gra2 {
    width:96.1%;
}

.gra3 {
    width:63.4%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;

    overflow:auto;
    overflow-x: hidden;
    margin-bottom:1px;
}

.simbolo_operazione:hover{
    filter: brightness(250%);
    -webkit-filter: brightness(250%);
    transition: filter 0.5s;
    -webkit-transition: -webkit-filter 0.5s;
}

.illuminazione {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    transition: filter 0.5s;
    -webkit-transition: -webkit-filter 0.5s;
}

.tab_conto tr td:nth-child(3){
    text-align: right;
}

#lettera_evidenziata{

    position:fixed;
    z-index:1000;
    background-color:transparent;
    font-size:15em;
    text-align:center;    
    display:none;
    vertical-align: middle;
    top:30%;
    left:34%;
}
#lettera_evidenziata>div{
    color: rgb(70, 69, 69);
    display: table-cell;
    vertical-align: middle;
}

#prodotti_conto_separato_2_grande tr,#prodotti_conto_separato_grande tr{
    font-size:30px;
    font-weight:bold;
}

#contenuto_scontrino_parziale_selezionato tr {
    font-size:20px;
}

#contenuto_scontrino_parziale_selezionato tr td:first-child{
    width:5%;
}
#contenuto_scontrino_parziale_selezionato tr td:nth-child(2){
    width:70%;
}

#contenuto_scontrino_parziale_selezionato tr td:last-child{
    width:25%;
}

#tasti_cameriere {
    overflow:hidden;
    font-size:22px;
    min-width:1000px;
    position: absolute;
    left: 25%;
    top: 15px;
}

.bs-glyphicons li:hover {
    color: #615F65;
}

.btn-viola{
    background: darkorchid;
    background-image: -webkit-linear-gradient(top, darkorchid, #4f1a69);
    background-image: -moz-linear-gradient(top,  darkorchid, #4f1a69);
    background-image: -ms-linear-gradient(top,  darkorchid, #4f1a69);
    background-image: -o-linear-gradient(top, darkorchid, #4f1a69);
    background-image: linear-gradient(to bottom,  darkorchid, #4f1a69);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

.btn-viola:active{
    background: #4f1a69;
    background-image: -webkit-linear-gradient(top, #4f1a69,darkorchid);
    background-image: -moz-linear-gradient(top, #4f1a69,darkorchid);
    background-image: -ms-linear-gradient(top,  #4f1a69,darkorchid);
    background-image: -o-linear-gradient(top,  #4f1a69,darkorchid);
    background-image: linear-gradient(to bottom,  #4f1a69,darkorchid);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}
.btn-verde_fluo{
    background: chartreuse;
    background-image: -webkit-linear-gradient(top, chartreuse, #2f5f00);
    background-image: -moz-linear-gradient(top,  chartreuse, #2f5f00);
    background-image: -ms-linear-gradient(top,  chartreuse, #2f5f00);
    background-image: -o-linear-gradient(top, chartreuse, #2f5f00);
    background-image: linear-gradient(to bottom,  chartreuse, #2f5f00);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

.btn-verde_fluo:active{
    background: #2f5f00;
    background-image: -webkit-linear-gradient(top,#2f5f00,chartreuse);
    background-image: -moz-linear-gradient(top, #2f5f00,chartreuse);
    background-image: -ms-linear-gradient(top, #2f5f00,chartreuse);
    background-image: -o-linear-gradient(top,  #2f5f00,chartreuse);
    background-image: linear-gradient(to bottom,  #2f5f00,chartreuse);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}

.btn-rosa{
    background: hotpink;
    background-image: -webkit-linear-gradient(top, hotpink, #8e3b65);
    background-image: -moz-linear-gradient(top,  hotpink, #8e3b65);
    background-image: -ms-linear-gradient(top,  hotpink, #8e3b65);
    background-image: -o-linear-gradient(top, hotpink, #8e3b65);
    background-image: linear-gradient(to bottom,  hotpink, #8e3b65);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

.btn-rosa:active{
    background: #8e3b65;
    background-image: -webkit-linear-gradient(top, #8e3b65,hotpink);
    background-image: -moz-linear-gradient(top, #8e3b65,hotpink);
    background-image: -ms-linear-gradient(top,  #8e3b65,hotpink);
    background-image: -o-linear-gradient(top,  #8e3b65,hotpink);
    background-image: linear-gradient(to bottom,  #8e3b65,hotpink);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}

.btn-info{
    background: rgb(70, 69, 69);
    background-image: -webkit-linear-gradient(top, #3498db, #2370a4);
    background-image: -moz-linear-gradient(top,  #3498db, #2370a4);
    background-image: -ms-linear-gradient(top,  #3498db, #2370a4);
    background-image: -o-linear-gradient(top, #3498db, #2370a4);
    background-image: linear-gradient(to bottom,  #3498db, #2370a4);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:2px solid black;
}

.btn-info:active{
    background: #2370a4;
    background-image: -webkit-linear-gradient(top, #2370a4,#3498db);
    background-image: -moz-linear-gradient(top, #2370a4,#3498db);
    background-image: -ms-linear-gradient(top,  #2370a4,#3498db);
    background-image: -o-linear-gradient(top,  #2370a4,#3498db);
    background-image: linear-gradient(to bottom,  #2370a4,#3498db);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}


.btn-danger{
    background: #e74c3c;
    background-image: -webkit-linear-gradient(top, #e74c3c, #972c21);
    background-image: -moz-linear-gradient(top,  #e74c3c, #972c21);
    background-image: -ms-linear-gradient(top,  #e74c3c, #972c21);
    background-image: -o-linear-gradient(top, #e74c3c, #972c21);
    background-image: linear-gradient(to bottom,  #e74c3c, #972c21);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 3px solid black;
}


.btn-danger:active{
    background:#972c21;
    background-image: -webkit-linear-gradient(top,  #972c21,#e74c3c);
    background-image: -moz-linear-gradient(top,  #972c21,#e74c3c);
    background-image: -ms-linear-gradient(top,  #972c21,#e74c3c);
    background-image: -o-linear-gradient(top, #972c21,#e74c3c);
    background-image: linear-gradient(to bottom,  #972c21,#e74c3c);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}

.btn-success{
    background: #00bc8c;
    background-image: -webkit-linear-gradient(top, #00bc8c,#007859);
    background-image: -moz-linear-gradient(top,  #00bc8c, #007859);
    background-image: -ms-linear-gradient(top,  #00bc8c, #007859);
    background-image: -o-linear-gradient(top, #00bc8c, #007859);
    background-image: linear-gradient(to bottom,  #00bc8c, #007859);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    /* padding: 10px 20px 10px 20px; */
    text-decoration: none;
    border:2px solid black;
}


.btn-success:active{
    background:#007859;
    background-image: -webkit-linear-gradient(top,  #007859,#00bc8c);
    background-image: -moz-linear-gradient(top,  #007859,#00bc8c);
    background-image: -ms-linear-gradient(top,  #007859,#00bc8c);
    background-image: -o-linear-gradient(top, #007859,#00bc8c);
    background-image: linear-gradient(to bottom,  #007859,#00bc8c);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}

.btn-warning{
    background: #ec971f;
    background-image: -webkit-linear-gradient(top, #ec971f,#a96b15);
    background-image: -moz-linear-gradient(top,  #ec971f, #a96b15);
    background-image: -ms-linear-gradient(top,  #ec971f, #a96b15);
    background-image: -o-linear-gradient(top, #ec971f, #a96b15);
    background-image: linear-gradient(to bottom,  #ec971f, #a96b15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    /* padding: 10px 20px 10px 20px; */
    text-decoration: none;
    border:2px solid black;
}


.btn-warning:active{
    background:#a96b15;
    background-image: -webkit-linear-gradient(top,  #a96b15,#ec971f);
    background-image: -moz-linear-gradient(top,  #a96b15,#ec971f);
    background-image: -ms-linear-gradient(top,  #a96b15,#ec971f);
    background-image: -o-linear-gradient(top, #a96b15,#ec971f);
    background-image: linear-gradient(to bottom,  #a96b15,#ec971f);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 5px 0px 7px #332d33;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border:2px solid black;
}

@media (min-width: 992px) {

    #btn_cottura button,#scelta_sconti button{
        font-size:25.5px;
    }

    #tab_dx {
        height: 640px;
        overflow-x:hidden;
        overflow-y:auto;
    }

    #tab_sx {
        /* height:600px; */
    }

    .btn {
        margin: 2px;
        /* padding-left:5px; */
        /* padding-right:5px; */
        font-size: 25.5px;
        font-weight:bold;
    }
}

div#btn_metodo_pagamento {
    font-size: 3.2vh;
}