<div class="container-fluid pag_chiusura_fiscale">
    <!-- POPUP INCASSI -->
    <div class="modal" id="popup_scelta_data">
        <div class="modal-dialog" style="width:100%">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Scegli Data e Operazione</h4>
                </div>
                <div class="modal-body" style="height:80vh;">
                    <div class="row">
                        <div class="col-xs-3  text-center">
                            <div id="data_incassi_partenza" style="font-size: 12px;"></div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <div id="data_incassi_arrivo" style="font-size: 12px;"></div>
                        </div>

                        <div class="text-left col-xs-6" id="selezione_pc_incassi">
                        </div>

                        <div class="col-xs-1 text-left"></div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <!--<div style="margin:0;"  class = "col-xs-6 btn btn-info" id="stampa_incassi_nf_giornata">

                            INCASSI TOTALE N.F.

                        </div>

                        <div style="margin:0;" class = "col-xs-6 btn btn-info" id="riepilogo_buoni_giornata">


                            RIEPILOGO BUONI

                        </div>-->

                        <div style="margin:0;"  class = "col-xs-6"></div>

                        <div style="margin:0;"  class = "col-xs-6">

                            <div style="margin:0;"  class = "col-xs-12 btn btn-info" id="visu_incassi_nf_giornata">

                                VISUALIZZA / STAMPA INCASSI

                            </div>

                            <div style="margin:0;"  class = "col-xs-12 btn btn-warning" id="riepilogo_buoni_giornata">

                                RIEPILOGO BUONI PASTO

                            </div>

                            <div style="margin:0;"  class = "col-xs-12 btn btn-success" id="fattura_buoni">

                                ESTRATTO CONTO BUONI

                            </div>

                            <div style="margin:0;"  class = "col-xs-12 btn btn-danger" id="fatture_spesometro">

                                ESTRAZIONE FATTURE SPESOMETRO

                            </div>

                        </div>



                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class = "row">

        <div class = "col-md-12">

            <h1>CHIUSURA FISCALE / INCASSI</h1><br/>&nbsp;

        </div>

    </div>

    <div class = "row">

        <div class = "col-md-6">

            <div class = "col-md-6">

                <h3>Versione Firmware</h3>

            </div>

            <div class = "col-md-6">

                <input type="text" id="versione_firmware" class = "form-control" readonly="readonly" />

            </div>


            <div class = "col-md-12 btn btn-success" id="btn_lettura_totali_conto">

                LETTURA TOTALI GIORNO

            </div>


            <div class = "col-md-6">

                <h3>CONTANTI:</h3>
                <h3>CARTE:</h3>
                <h3>ASSEGNI:</h3>
                <!--<h3>BUONI ACQ.:</h3>-->
                <h3>BUONI ACQUISTO:</h3>
                <h3>BUONI PASTO:</h3>
                <h3>NON PAGATO:</h3>
                <!-- <h3>SCONTI (DA SOTTRARRE):</h3>-->
                <h3>TOT.GIORNO:</h3>

            </div>

            <div class = "col-md-6">

                <input type="text" id="chius_contanti" class = "form-control" readonly="readonly" />
                <input type="text" id="chius_carte_credito" class = "form-control"  readonly="readonly" />
                <!--<input type="text" id="chius_bancomat" class = "form-control"  readonly="readonly"  />-->
                <input type="text" id="chius_assegni" class = "form-control"  readonly="readonly"  />
                <!--<input type="text" id="chius_buoni_acquisto" class = "form-control"  readonly="readonly"  />-->
                <input type="text" id="chius_non_pagato" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_buoni_pasto" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_prepagato" class = "form-control"  readonly="readonly"  />
                <!-- <input type="text" id="chius_sconti" class = "form-control"  readonly="readonly"  />-->
                <input type="text" id="chius_totale_giorno" class = "form-control"  readonly="readonly"  />

            </div>

            <div class = "col-md-12 btn btn-success" id="btn_info_fiscali">

                INFO

            </div>

            <div class = "col-md-6">
                <h3>N° CHIUSURE:</h3>
                <h3>% UTILIZZO DGFE:</h3>

            </div>

            <div class = "col-md-6">

                <input type="text" id="chius_numero_chiusure" class = "form-control" style = "border: 1px solid grey; margin : 5px; background-color : transparent;" />
                <input type="text" id="chius_utilizzo_dgfe" class = "form-control" style = "border: 1px solid grey; margin : 5px; background-color : transparent;" />

            </div>

        </div>

        <div class = "col-md-6  text-center">

            <div style="margin:0;" class = "col-md-12 btn btn-warning" id="stampa_incassi_nf">

                STAMPA INCASSI N.F. PARZIALE

            </div>

            <!--<div style="margin:0;" class = "col-md-6 btn btn-warning" id="ristampa_parziali_nf">

                RISTAMPA PARZIALI N.F.

            </div>-->

            <!-- <div style="margin:0;"  class = "col-md-6 btn btn-info" id="stampa_incassi_nf_giornata">-->
            <div style="margin:0;"  class = "col-md-12 btn btn-info" id="scelta_data">

                STAMPA INCASSI N.F. / RIEPILOGO BUONI

            </div>

            <div style="margin-top:40px;" class = "col-md-12 btn btn-success" id="totali_fine_giornata">

                TOTALI FINE GIORNATA

            </div>

            <!--<div style="margin-top:20px;" class = "col-md-12 btn btn-danger" id="btn_solochiusura">

                CHIUSURA FISCALE SENZA TOTALI

            </div>

            <div style="margin-top:20px;" class = "col-md-12 btn btn-danger" id="btn_chiusura_venduti">

                CHIUSURA FISCALE + DETTAGLIO VENDUTI

            </div>
-->
            <div style="margin-top:20px;" class = "col-md-12 btn btn-danger" id="btn_chiusura_fiscale_totali">

                CHIUSURA FISCALE + TOTALI FINE GIORNATA

            </div>



            <div style="margin-top:20px; padding:20px; border: 1px solid grey;" class = "col-md-12" id="comandi_speciali"  >

                <h2>COMANDI SPECIALI</h2>

                <div style="margin-top:20px;" class = "col-md-12 btn btn-warning" id="btn_void">

                    ANNULLA E SBLOCCA SCONTRINO

                </div>

                <div style="margin-top:20px;" class = "col-md-12 btn btn-warning" id="btn_opz_contanti">

                    CHIUDI SCONTRINO

                </div>

                <div style="margin-top:20px;" class = "col-md-12 btn btn-warning" id="btn_ristampa_documenti_fiscali">

                    RISTAMPA DOCUMENTI FISCALI

                </div>

            </div>


        </div>

    </div>

    <div class = "row">
        <div class = "col-md-12">
            <br/>&nbsp;
        </div>
    </div>

    <div class = "row">

        <div class = "col-md-6">



        </div>

        <div class = "col-md-6 text-center">

            <!-- VUOTO PER ORA -->

        </div>

    </div>

</div>


<script>
    $("#data_incassi_partenza").multiDatesPicker({maxPicks: 1});
    $("#data_incassi_arrivo").multiDatesPicker({maxPicks: 1});

    var risposta_pubblica = 0.0;



    function stringToDate(_date, _format, _delimiter)
    {
        var formatLowerCase = _format.toLowerCase();
        var formatItems = formatLowerCase.split(_delimiter);
        var dateItems = _date.split(_delimiter);
        var monthIndex = formatItems.indexOf("mm");
        var dayIndex = formatItems.indexOf("dd");
        var yearIndex = formatItems.indexOf("yy");
        var month = parseInt(dateItems[monthIndex]);
        month -= 1;
        var formatedDate = new Date("20" + dateItems[yearIndex], month, dateItems[dayIndex]);

        var ret = formatedDate.format("ddmmyyyy");

        if (ret.length !== 8)
        {
            console.log("STOP");
        }
        return ret;
    }
</script>

<style>
    .pag_chiusura_fiscale input[type='text'],.pag_chiusura_fiscale input[type='text'][readonly]{
        border: 1px solid grey;
        margin : 5px;
        background-color : transparent;
        color:snow;
    }

    .pag_chiusura_fiscale .btn {
        font-size: 1.75em;
    }


</style>