<div class="container-fluid pag_chiusura_fiscale">

    <div class = "row">

        <div class = "col-md-12">

            <h1>CLOSING TAX</h1><br/>&nbsp;

        </div>

    </div>

    <div class = "row">

        <div class = "col-md-6">

            <div class = "col-md-12 btn btn-success" id="btn_lettura_totali_conto">

                TOTAL DAILY

            </div>

            <div class = "col-md-6">

                <h3>CASH</h3>
                <h3>CREDIT C.:</h3>
                <h3>BANCOMAT:</h3>
                <h3>CHECKS:</h3>
                <h3>COUPONS:</h3>
                <h3>NOT PAID:</h3>
                <h3>FOOD STAMPS:</h3>
                <h3>PREPAID:</h3>
                <h3>TOT.DAY:</h3>

            </div>

            <div class = "col-md-6">

                <input type="text" id="chius_contanti" class = "form-control" readonly="readonly" />
                <input type="text" id="chius_carte_credito" class = "form-control"  readonly="readonly" />
                <input type="text" id="chius_bancomat" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_assegni" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_buoni_acquisto" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_non_pagato" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_buoni_pasto" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_prepagato" class = "form-control"  readonly="readonly"  />
                <input type="text" id="chius_totale_giorno" class = "form-control"  readonly="readonly"  />

            </div>

        </div>

        <div class = "col-md-6  text-center">

            <div class = "col-md-12 btn btn-success" id="totali_fine_giornata">

                END DAY TOTAL

            </div>

            <div style="margin-top:20px;" class = "col-md-12 btn btn-success" id="btn_chiusura_fiscale_totali">

                CLOSING TAX + TOT. END DAY

            </div>

            <div style="margin-top:20px; padding:20px; border: 1px solid grey;" class = "col-md-12" id="comandi_speciali"  >

                <h2>SPECIAL COMMANDS</h2>

                <div style="margin-top:20px;" class = "col-md-12 btn btn-warning" id="btn_void">

                    CANCEL AND UNLOCK RECEIPT

                </div>

                <div style="margin-top:20px;" class = "col-md-12 btn btn-warning" id="btn_opz_contanti">

                    CLOSE RECEIPT

                </div>

            </div>

        </div> 

    </div>

    <div class = "row">
        <div class = "col-md-12">  
            <br/>&nbsp;
        </div>
    </div>

    <div class = "row">

        <div class = "col-md-6">

            <div class = "col-md-12 btn btn-success" id="btn_info_fiscali">

                INFO

            </div>

            <div class = "col-md-6">
                <h3>N° CLOSURES:</h3>
                <h3>% DGFE:</h3>

            </div>

            <div class = "col-md-6">

                <input type="text" id="chius_numero_chiusure" class = "form-control" style = "border: 1px solid grey; margin : 5px; background-color : transparent;" />
                <input type="text" id="chius_utilizzo_dgfe" class = "form-control" style = "border: 1px solid grey; margin : 5px; background-color : transparent;" />

            </div>

        </div>

        <div class = "col-md-6 text-center">

            <!-- VUOTO PER ORA -->

        </div>

    </div>

</div>

<script>
    var risposta_pubblica = 0.0;

    function chiusura_fiscale(chiusura) {

        var epos = new epson.fiscalPrint();

        epos.onreceive = function (result, tag_names_array, add_info, res_add) {
            console.log(result);
            console.log(tag_names_array);
            console.log(add_info);
            console.log(res_add);
        };

        epos.onerror = function (result) {
        };

        if (chiusura === true)
        {
            epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", '<printerFiscalReport><printXZReport  operator="1" /></printerFiscalReport>', 10000);
        }
        else
        {
            epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", '<printerFiscalReport><printXReport  operator="1" /></printerFiscalReport>', 10000);
        }

    }

    $('#btn_info_fiscali').click(function () {
        var info_chiusura = 0;

        var epos = new epson.fiscalPrint();

        //Chiamata ajax asincrona dove va eseguita dentro tutta l'azione del programma
        epos.onreceive = function (result, tag_names_array, add_info, res_add) {
            //console.log(result);
            //console.log(add_info);

            if (add_info !== undefined && add_info.responseData !== undefined) {
                var risposta = add_info.responseData;
                info_chiusura = risposta;
            }
        };

        epos.onerror = function (result) {
        };

        //INTESTAZIONE PER TUTTI I COMANDI GENERICI
        var com_open = '<printerCommand>';
        var com_close = '</printerCommand>';

        //FUNZIONI PER OGNI LETTURA

        //contanti
        var com_contanti = com_open + '<directIO  command="2050" data="2700" />' + com_close;
        epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_contanti, 10000);
        setTimeout(function () {
            info_chiusura = info_chiusura[2];
            info_chiusura = info_chiusura.split("+");

            info_chiusura = parseInt(info_chiusura);
            $('#chius_numero_chiusure').val(info_chiusura);

            var com_contanti = com_open + '<directIO  command="1077" data="1" />' + com_close;
            epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_contanti, 10000);
        }, 200);
        setTimeout(function () {

            info_chiusura = info_chiusura.substr(2, 2);
            info_chiusura = parseInt(info_chiusura);

            console.log(info_chiusura);
            $('#chius_utilizzo_dgfe').val(info_chiusura);
        }, 600);





    });

    $('#btn_void').click(function () {
        var epos = new epson.fiscalPrint();
        epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", "<printerCommand><resetPrinter  operator='1' /></printerCommand>", 10000);
    });

    $('#btn_chiusura_fiscale_totali').click(function () {
        chiusura_fiscale(true);
    });

    $('#totali_fine_giornata').click(function () {
        chiusura_fiscale(false);
    });


    $('#btn_lettura_totali_conto').click(
            function () {

                var epos = new epson.fiscalPrint();

                //Chiamata ajax asincrona dove va eseguita dentro tutta l'azione del programma
                epos.onreceive = function (result, tag_names_array, add_info, res_add) {
                    //console.log(result);
                    //console.log(add_info);

                    if (add_info !== undefined && add_info.responseData !== undefined) {
                        var risposta = add_info.responseData;

                        risposta = risposta.split("+");

                        risposta[2] = risposta[2].slice(0, -2) + "." + risposta[2].slice(-2);

                        risposta[2] = parseFloat(risposta[2]).toFixed(2);

                        console.log("risposta = '" + risposta[2] + "'");

                        risposta_pubblica = risposta[2];

                    }
                };

                epos.onerror = function (result) {
                };

                //INTESTAZIONE PER TUTTI I COMANDI GENERICI
                var com_open = '<printerCommand>';
                var com_close = '</printerCommand>';

                //FUNZIONI PER OGNI LETTURA

                //contanti
                var com_contanti = com_open + '<directIO  command="2050" data="2901" />' + com_close;
                epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_contanti, 10000);
                setTimeout(function () {
                    $('#chius_contanti').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="2902" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 200);


                setTimeout(function () {
                    $('#chius_carte_credito').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="2903" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 400);

                setTimeout(function () {
                    $('#chius_bancomat').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="2904" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 600);


                setTimeout(function () {
                    $('#chius_assegni').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="1905" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 800);

                setTimeout(function () {
                    $('#chius_buoni_acquisto').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="1901" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 1000);

                setTimeout(function () {
                    $('#chius_non_pagato').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="1902" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 1200);

                setTimeout(function () {
                    $('#chius_buoni_pasto').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    var com_princ = com_open + '<directIO  command="2050" data="1903" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 1400);

                setTimeout(function () {
                    $('#chius_prepagato').val(risposta_pubblica);
                    console.log(risposta_pubblica);
                    //NB Ora legge il non fiscale. Lo scontrino fiscale è il 2400
                    var com_princ = com_open + '<directIO  command="2050" data="2800" />' + com_close;
                    epos.send(window.location.protocol + "//" + comanda.indirizzo_cassa + "/cgi-bin/fpmate.cgi", com_princ, 10000);
                }, 1600);

                setTimeout(function () {
                    $('#chius_totale_giorno').val(risposta_pubblica);
                }, 1800);


            });



</script>


<style>
    .pag_chiusura_fiscale input[type='text'],.pag_chiusura_fiscale input[type='text'][readonly]{
        border: 1px solid grey; 
        margin : 5px; 
        background-color : transparent; 
        color:snow;
    }

    .pag_chiusura_fiscale .btn {
        font-size: 1.75em;
    }

    
</style>