﻿<!--CALCOLA IL RESTO-->
<div class="container-fluid col-md-12 col-xs-12 modal" id="popup_legenda_colori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Farblegende</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div style="width:25px;height:25px;background-color:silver;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tisch frei</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:brown;float:left;">&nbsp;</div><div style="float:left">&nbsp;Tisch in Gebrauch</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:red;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tisch besetzt</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#FFA07A;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Bestellung eingestellt</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:cyan;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Getrennte Rechnung</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#3498db;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Gedruckte  Rechnung</div>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#popup_legenda_colori').modal('hide');" class="btn btn-success">Alles klar!</button>
            </div>
        </div>
    </div>
</div>

<div id="mappa_tavoli">
    <!--L'altezza va impostata altrimenti non si riescono a cliccarei  tasti nel tablet-->
    <div class="row" id="barra_pulsanti_tavoli" style="height:100px">
        <div class="col-md-3 col-xs-3"></div>
        <div id="amministrazione">
            <div class="col-md-2 col-xs-2"><input style="margin-top:20px;" type="text" class="form-control kb_num" id="numero_tavolo" placeholder="Nummer von neuem Tisch" required></div>

            <div class ="col-md-2" > 
                <div class="col-md-4 col-xs-4"><div class="tavolo rett-min forma_selezionata"></div></div>
                <div class="col-md-4 col-xs-4"><div class="tavolo cerc-min"></div></div>
                <div class="col-md-4 col-xs-4"><button style="margin-top:15px;" class="btn btn-tav" id="nuovo_tavolo">Erstellen</button></div>
            </div>

            <div class="col-md-3 col-xs-3">
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-tav" id="btn_cancella_tavolo_singolo" onclick="deletor();">Tisch l&ouml;schen</button></div>
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-danger" id="cancella_tutti_tavoli">Alle l&ouml;schen</button></div>
            </div>
        </div>

        <div id="tasti_cameriere" class="col-xs-9 col-md-9" style="animation: 0.4s ease-out 0s 1 slideInFromTop;">

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="tav_ripara_tavolo();"   class="btn btn-tav" id="tav_ripara_tavolo">R</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="tav_sblocca_tavolo();"   class="btn btn-tav" id="tav_sblocca_tavolo">&#128275;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_legenda_colori').modal('show');"  class="btn btn-tav" id="tav_legenda_colori">&#127752;</button>           

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_amministrazione .row').show();$('#popup_amministrazione').modal('show');"  class="btn btn-info elimina_tedeschi tasto_impostazioni" id="tav_legenda_colori">&#9881;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_sposta_tavoli').modal('show');$('#popup_sposta_tavoli--input_text--sposta_tavolo_da').trigger('touchend')" class="btn btn-tav" id="tav_sposta_tavoli">&#8633;</button>

            <!--<span class="pull-left contenitore_orologio" style="padding-top:25px;"><input type="time" class="orologio" style="color: snow; font-size: 3vh; font-weight: bold;background-color: transparent;" readonly="readonly"></span>-->

            <button onclick="disegna_tavoli_salvati();" style="font-size: 3vh;text-transform:uppercase;" class="btn btn-tav btn-warning" id="tav_btn_refresh">&#8635;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="disconnetti();"  class="btn btn-danger">X</button> 

            <div class="btn"  id="stato_batteria">
                <span><img id="immagine_batteria" src="./img/batteria/Batteria_Verde60x41.png" height="60"></span>
                <span id="percentuale_batteria" style="font-size: 2vh;">100%</span>
            </div>

        </div>

    </div>
    <div class="row" >
        <div class="col-md-12 col-xs-12" id="contenitore_tavoli" style=" height:850px; padding:0;">
        </div> 
    </div>

    <div class="row" style="position: fixed;bottom: 10px;left: 2px;width:99%;">

        <!--<button style="width: 70px;text-transform:uppercase;font-size:2.5vh;padding:5px;" onclick="elenco_tavoli_prenotati()" class="btn_nome_sala btn btn-success">TAV.</button>
        <button style="width: 70px;text-transform:uppercase;font-size:2.5vh;padding:5px;" onclick="elenco_nomi_prenotati()" class="btn_nome_sala btn btn-success">NOMI</button>

        
     
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("3")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">3</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("2")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">2</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("1")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">1</button>

<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("3")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">3</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("2")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">2</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("1")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">1</button>
-->
    </div> 
</div>


<div  class="scritte_piantina 2" style="display:none;z-index: -1000;position: fixed;top: 485px;right: 0;width: 200px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;transform: rotate(90deg);">BAR 1</div>
<div  class="scritte_piantina 2D" style="display:none;z-index: -1000;position: fixed;top: 485px;right: 0;width: 200px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;transform: rotate(90deg);">BAR 1</div>


<div  class="scritte_piantina 3D" style="display:none;z-index: -1000;position: fixed; top: 220px;left: 8px;width: 660px;height: 380px;border: 1px solid white;"></div>
<div  class="scritte_piantina 3D" style="display:none;z-index: -1000;position: fixed;bottom: 100px;left: 10px;width: 150px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;">BAR 2</div>

<div  class="scritte_piantina 3" style="display:none;z-index: -1000;position: fixed; top: 220px;left: 8px;width: 660px;height: 380px;border: 1px solid white;"></div>
<div  class="scritte_piantina 3" style="display:none;z-index: -1000;position: fixed;bottom: 100px;left: 10px;width: 150px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;">BAR 2</div>


<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 120px;left: 8px;width: 1px;height: 800px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 200px;left: 8px;width: 486px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 120px;left: 493px;width: 1px;height: 81px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 500px;left: -15px;font-size: 25px;transform: rotate(90deg);">PRIVE'</div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 125px;width: 1px;height: 55px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 269px;left: 126px;width: 338px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 464px;width: 1px;height: 55px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed;top: 360px;left: 125px;width: 1px;height: 360px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed; top: 920px;left: 8px;width: 112px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 790px;left: 120px;width: 1px;height: 132px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed; top: 920px;left: 170px;width: 400px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed; top: 820px;left: 170px;width: 400px;height: 70px;color: black;font-size: 40px; background-color: white;text-align: center;">BAR</div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 460px;left: 430px;font-size: 25px;transform: rotate(90deg);">ZONA PISTA</div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed; top: 269px;left: 525px;width: 65px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 590px;width: 1px;height: 420px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 687px;left: 525px;width: 65px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 300px;left: 650px;width: 1px;height: 610px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 525px;left: 565px;font-size: 25px;transform: rotate(90deg);width: 200px;">ZONA PALCO</div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 185px;right: -45px;width: 200px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;transform: rotate(90deg);">BAR</div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 120px;right: 18px;width: 1px;height: 800px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 920px;right: 18px;width: 70px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1D" style="display:none;z-index: -1000;position: fixed;top: 710px;right: 42px; width: 75px;height: 1px;border: 1px solid white;"></div>


<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 120px;left: 8px;width: 1px;height: 800px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 200px;left: 8px;width: 486px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 120px;left: 493px;width: 1px;height: 81px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 500px;left: -15px;font-size: 25px;transform: rotate(90deg);">PRIVE'</div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 125px;width: 1px;height: 55px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 269px;left: 126px;width: 338px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 464px;width: 1px;height: 55px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed;top: 360px;left: 125px;width: 1px;height: 425px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed; top: 920px;left: 8px;width: 118px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 790px;left: 125px;width: 1px;height: 132px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed; top: 920px;left: 170px;width: 400px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed; top: 820px;left: 170px;width: 400px;height: 70px;color: black;font-size: 40px; background-color: white;text-align: center;">BAR</div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 460px;left: 430px;font-size: 25px;transform: rotate(90deg);">ZONA PISTA</div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed; top: 269px;left: 525px;width: 65px;height: 1px; border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000; position: fixed;top: 269px;left: 590px;width: 1px;height: 430px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 697px;left: 525px;width: 65px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 300px;left: 650px;width: 1px;height: 610px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 525px;left: 565px;font-size: 25px;transform: rotate(90deg);width: 200px;">ZONA PALCO</div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 185px;right: -45px;width: 200px;height: 70px;color: black;font-size: 40px;background-color: white;text-align: center;transform: rotate(90deg);">BAR</div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 120px;right: 18px;width: 1px;height: 800px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 920px;right: 18px;width: 70px;height: 1px;border: 1px solid white;"></div>
<div  class="scritte_piantina 1" style="display:none;z-index: -1000;position: fixed;top: 710px;right: 42px; width: 75px;height: 1px;border: 1px solid white;"></div>
