<!--CALCOLA IL RESTO-->
<div class="container-fluid col-md-12 col-xs-12 modal" id="popup_legenda_colori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Legenda colori</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div style="width:25px;height:25px;background-color:silver;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo libero</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:brown;float:left;">&nbsp;</div><div style="float:left">&nbsp;Tavolo in uso</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:red;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo occupato</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#FFA07A;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Ordine in sospeso</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:cyan;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto separato</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#3498db;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto stampato</div>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#popup_legenda_colori').modal('hide');" class="btn btn-success">Ho capito!</button>
            </div>
        </div>
    </div>
</div>

<div id="mappa_tavoli">
    <div id="editor_mappa_tavoli_iphone" style="position:fixed;top:263px;left:0;width: 380px;height:577px;border:2px solid white;"></div>
    <div id="proprieta_mappa_tavoli_iphone" style="position:fixed;z-index:1000;top:263px;right:780px;width: 380px;height:577px;border:2px solid white;">

        <button style="text-transform:uppercase" onclick="seleziona_sala('1')" class="form-control btn btn-warning">PIANTINA 1</button>
        <button style="text-transform:uppercase" onclick="seleziona_sala('2')" class="form-control btn btn-warning">PIANTINA 2</button>
        <button style="text-transform:uppercase" onclick="seleziona_sala('3')" class="form-control btn btn-warning">PIANTINA 3</button>

        <label>Tavolo</label><input class="form-control" type="text" id="numero_tavoli_telefono" readonly>
        <label>Font (vh)</label><input class="form-control" type="number" id="font_tavoli_telefono">
        <label>Font TUTTI (vh)</label><input class="form-control" type="number" id="font_tavoli_telefono_generale">

    </div>
    <!--L'altezza va impostata altrimenti non si riescono a cliccarei  tasti nel tablet-->
    <div class="row" id="barra_pulsanti_tavoli" style="height:100px">
        <div class="col-md-3 col-xs-3"></div>
        <div id="amministrazione">
            <div class="col-md-2 col-xs-2"><input style="margin-top:20px;" type="text" class="form-control parte_numerica" id="numero_tavolo" placeholder="Numero nuovo tavolo" required></div>

            <div class ="col-md-2" > 
                <div class="col-md-4 col-xs-4"><div class="tavolo rett-min forma_selezionata"></div></div>
                <div class="col-md-4 col-xs-4"><div class="tavolo cerc-min"></div></div>
                <div class="col-md-4 col-xs-4"><button style="margin-top:15px;" class="btn btn-tav" id="nuovo_tavolo">Crea</button></div>
            </div>

            <div class="col-md-3 col-xs-3">
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-tav" id="btn_cancella_tavolo_singolo" onclick="deletor();">Cancella tavolo</button></div>
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-danger" id="cancella_tutti_tavoli">Cancella tutti</button></div>
            </div>
        </div>

        <div id="tasti_cameriere" class="col-xs-9 col-md-9" >
            
            <span id="errore_stampante_spenta" class="glyphicon glyphicon-print blink hidden"  style="color:yellow;margin-top:15px;padding:15px;"></span>

            <button onclick="tav_sblocca_tavolo();" style="margin-top:15px;"  class="btn btn-tav" id="tav_sblocca_tavolo">Sblocca tavolo</button>

            <button onclick="$('#popup_sposta_tavoli').modal('show')" style="margin-top:15px;"  class="btn btn-tav" id="tav_sposta_tavoli">Operazioni</button>

            <button  onclick="$('#popup_legenda_colori').modal('show');" style="margin-top:15px;"  class="btn btn-tav" id="tav_legenda_colori">Legenda colori</button>           

            <button   onclick="$('#popup_amministrazione .row').show();$('#popup_amministrazione').modal('show');" style="margin-top:15px;"  class="btn btn-info elimina_tedeschi" id="tav_legenda_colori">Manutenzione</button>

            <button style="font-size: 24px;text-transform:uppercase;width:100px;" onclick="apri_cassetto();"  class="btn btn-success apertura_piantina"><span class="glyphicon glyphicon-inbox"></span></button> 

            <button style="font-size: 24px;text-transform:uppercase;width:100px;" onclick="disconnetti();"  class="btn btn-danger">X</button> 

            <span class="pull-right contenitore_orologio" style="padding-top:8px;"><input type="time" class="form-control orologio" style="color: snow; font-size: 50px; font-weight: bold;background-color: transparent;" readonly="readonly"></span>

            <button  onclick="disegna_tavoli_salvati();" style="margin-top:15px;" class="btn btn-tav pull-right" id="tav_btn_refresh"><img src="./img/refresh.png" /></button>           

        </div>

        <div id="tasti_colori_stampanti" class="col-xs-9 col-md-9" >

            <button style="margin-top:15px;background-color:#33CCFF;" class="btn" >Conto 1</button>

            <button style="margin-top:15px;background-color:#CC6699;" class="btn">Conto 2</button>

            <button style="margin-top:15px;background-color:#33CC00;" class="btn" >Conto 3</button>

        </div>

    </div>
    <div class="row" >
        <div class="col-md-12 col-xs-12" id="contenitore_tavoli" style=" height:850px; padding:0;">
        </div> 
    </div>

    <div class="row" >

        <!--<button style="text-transform:uppercase" onclick="seleziona_sala('PIANTINA 1')" class="btn_nome_sala btn btn-warning">PIANTINA 1</button>-->
        <!--<button style="text-transform:uppercase" onclick="seleziona_sala('PIANTINA 2')" class="btn_nome_sala btn btn-warning">PIANTINA 2</button>-->
    </div>    
</div>
