﻿<!--CALCOLA IL RESTO-->
<div class="container-fluid col-md-12 col-xs-12 modal" id="popup_legenda_colori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Legenda colori</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div style="width:25px;height:25px;background-color:silver;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo libero</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:red;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Comanda Lanciata</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:pink;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo con BIS</div>        
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:fuchsia;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Ultima Portata</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:cyan;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto separato</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#3498db;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto stampato</div>        
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#popup_legenda_colori').modal('hide');" class="btn btn-success">Ho capito!</button>
            </div>
        </div>
    </div>
</div>

<div id="mappa_tavoli">
    <!--L'altezza va impostata altrimenti non si riescono a cliccarei  tasti nel tablet-->
    <div class="row" id="barra_pulsanti_tavoli" style="height:100px">
        <div class="col-md-3 col-xs-3"></div>
        <div id="amministrazione">
            <div class="col-md-2 col-xs-2"><input style="margin-top:20px;" type="text" class="form-control kb_num" id="numero_tavolo" placeholder="Numero nuovo tavolo" required></div>

            <div class ="col-md-2" > 
                <div class="col-md-4 col-xs-4"><div class="tavolo rett-min forma_selezionata"></div></div>
                <div class="col-md-4 col-xs-4"><div class="tavolo cerc-min"></div></div>
                <div class="col-md-4 col-xs-4"><button style="margin-top:15px;" class="btn btn-tav" id="nuovo_tavolo">Crea</button></div>
            </div>

            <div class="col-md-3 col-xs-3">
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-tav" id="btn_cancella_tavolo_singolo" onclick="deletor();">Cancella tavolo</button></div>
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-danger" id="cancella_tutti_tavoli">Cancella tutti</button></div>
            </div>
        </div>

        <div id="tasti_cameriere" class="col-xs-9 col-md-9" style="animation: 0.4s ease-out 0s 1 slideInFromTop;">

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="tav_ripara_tavolo();"   class="btn btn-tav" id="tav_ripara_tavolo">R</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="tav_sblocca_tavolo();"   class="btn btn-tav" id="tav_sblocca_tavolo">&#128275;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_legenda_colori').modal('show');"  class="btn btn-tav" id="tav_legenda_colori">&#127752;</button>           

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_amministrazione .row').show();$('#popup_amministrazione').modal('show');"  class="btn btn-info elimina_tedeschi tasto_impostazioni" id="tav_legenda_colori">&#9881;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="$('#popup_sposta_tavoli').modal('show');$('#popup_sposta_tavoli--input_text--sposta_tavolo_da').trigger('touchend')" class="btn btn-tav" id="tav_sposta_tavoli">&#8633;</button>

            <!--<span class="pull-left contenitore_orologio" style="padding-top:25px;"><input type="time" class="orologio" style="color: snow; font-size: 3vh; font-weight: bold;background-color: transparent;" readonly="readonly"></span>-->

            <button onclick="disegna_tavoli_salvati();" style="font-size: 3vh;text-transform:uppercase;" class="btn btn-tav btn-warning" id="tav_btn_refresh">&#8635;</button>

            <button style="font-size: 3vh;text-transform:uppercase;" onclick="disconnetti();"  class="btn btn-danger">X</button> 

            <div class="btn"  id="stato_batteria">
                <span><img id="immagine_batteria" src="./img/batteria/Batteria_Verde60x41.png" height="60"></span>
                <span id="percentuale_batteria" style="font-size: 2vh;">100%</span>
            </div>

        </div>

    </div>
    <div class="row" >
        <div class="col-md-12 col-xs-12" id="contenitore_tavoli" style=" height:850px; padding:0;">
        </div> 
    </div>

    <div class="row" style="position: fixed;bottom: 10px;left: 2px;width:99%;">

        <!--<button style="width: 70px;text-transform:uppercase;font-size:2.5vh;padding:5px;" onclick="elenco_tavoli_prenotati()" class="btn_nome_sala btn btn-success">TAV.</button>
        <button style="width: 70px;text-transform:uppercase;font-size:2.5vh;padding:5px;" onclick="elenco_nomi_prenotati()" class="btn_nome_sala btn btn-success">NOMI</button>

        
     
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("3")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">3</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("2")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">2</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("1")' class="btn_nome_sala nome_sala_disco btn btn-warning pull-right">1</button>

<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("3")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">3</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("2")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">2</button>
<button style="display:none;text-transform:uppercase;padding:5px;" onclick='seleziona_sala("1")' class="btn_nome_sala nome_sala_ristorante btn btn-warning pull-right">1</button>
-->
    </div> 
</div>






<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 90px;left: 5px;font-size: 20px;">EXTRA</div>
<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 430px;left: 260px;width: 100px;height: 40px;color: black;font-size: 20px;background-color: white;text-align: center;transform: rotate(90deg);">BAR</div>

<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 215px;left: 140px;width: 100px;height: 40px;color: black;font-size: 20px;background-color: white;text-align: center;transform: rotate(-10deg);">CONSOLE</div>


<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 460px;left: 430px;font-size: 25px;transform: rotate(90deg);">PRIVE'</div>
<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 460px;left: 430px;font-size: 25px;transform: rotate(90deg);">INGRESSO</div>
<div  class="scritte_piantina_iphone 1D" style="display:none;z-index: -1000;position: fixed;top: 460px;left: 430px;font-size: 25px;transform: rotate(90deg);">CASSA</div>
