﻿<!--CALCOLA IL RESTO-->
<div class="container-fluid col-md-12 col-xs-12 modal" id="popup_legenda_colori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Legenda colori</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div style="width:25px;height:25px;background-color:silver;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo libero</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:brown;float:left;">&nbsp;</div><div style="float:left">&nbsp;Tavolo in uso</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:red;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tavolo occupato</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#FFA07A;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Ordine in sospeso</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:cyan;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto separato</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#3498db;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Conto stampato</div>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#popup_legenda_colori').modal('hide');" class="btn btn-success">Ho capito!</button>
            </div>
        </div>
    </div>
</div>

<div id="mappa_tavoli">
    <!--L'altezza va impostata altrimenti non si riescono a cliccarei  tasti nel tablet-->
    <div class="row" id="barra_pulsanti_tavoli" style="height:100px">
        <div class="col-md-3 col-xs-3"></div>
        <div id="amministrazione">
            <div class="col-md-2 col-xs-2"><input style="margin-top:20px;" type="text" class="form-control kb_num" id="numero_tavolo" placeholder="Numero nuovo tavolo" required></div>

            <div class ="col-md-2" > 
                <div class="col-md-4 col-xs-4"><div class="tavolo rett-min forma_selezionata"></div></div>
                <div class="col-md-4 col-xs-4"><div class="tavolo cerc-min"></div></div>
                <div class="col-md-4 col-xs-4"><button style="margin-top:15px;" class="btn btn-tav" id="nuovo_tavolo">Crea</button></div>
            </div>

            <div class="col-md-3 col-xs-3">
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-tav" id="btn_cancella_tavolo_singolo" onclick="deletor();">Cancella tavolo</button></div>
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-danger" id="cancella_tutti_tavoli">Cancella tutti</button></div>
            </div>
        </div>

        <div id="tasti_cameriere" class="col-xs-9 col-md-9" >

            <button style="font-size: 6vh;text-transform:uppercase;" onclick="tav_ripara_tavolo();"   class="btn btn-tav" id="tav_ripara_tavolo">D</button>
            
            <button style="font-size: 6vh;text-transform:uppercase;" onclick="tav_sblocca_tavolo();"   class="btn btn-tav" id="tav_sblocca_tavolo">&#128275;</button>

            <button style="font-size: 6vh;text-transform:uppercase;" onclick="$('#popup_legenda_colori').modal('show');"  class="btn btn-tav" id="tav_legenda_colori">&#127752;</button>           

            <button style="font-size: 6vh;text-transform:uppercase;" onclick="$('#popup_amministrazione .row').show();$('#popup_amministrazione').modal('show');"  class="btn btn-info elimina_tedeschi tasto_impostazioni" id="tav_legenda_colori">&#9881;</button>

            <button style="font-size: 6vh;text-transform:uppercase;" onclick="$('#popup_sposta_tavoli').modal('show')" class="btn btn-tav" id="tav_sposta_tavoli">&#8633;</button>

            <!--<span class="pull-left contenitore_orologio" style="padding-top:25px;"><input type="time" class="orologio" style="color: snow; font-size: 6vh; font-weight: bold;background-color: transparent;" readonly="readonly"></span>-->

            <button onclick="disegna_tavoli_salvati();" style="font-size: 6vh;text-transform:uppercase;" class="btn btn-tav btn-warning" id="tav_btn_refresh"><img src="./img/refresh.png" /></button>

            <button style="font-size: 6vh;text-transform:uppercase;width:100px;" onclick="disconnetti();"  class="btn btn-danger">X</button> 

            <div class="btn"  id="stato_batteria">
                <span><img id="immagine_batteria" src="./img/batteria/Batteria_Verde60x41.png" height="60"></span>
                <span id="percentuale_batteria" style="font-size: 4vh;">100%</span>
            </div>

        </div>

    </div>
    <div class="row" >
        <div class="col-md-12 col-xs-12" id="contenitore_tavoli" style=" height:850px; padding:0;">
        </div> 
    </div>

    <!--<div class="row" style="position: fixed;bottom: 10px;left: 20px;">

        <button style="text-transform:uppercase;font-size:5vh;" onclick="seleziona_sala('PIANTINA 1')" class="btn_nome_sala btn btn-warning">PIANO TERRA</button>
        <button style="text-transform:uppercase;font-size:5vh;" onclick="seleziona_sala('PIANTINA 2')" class="btn_nome_sala btn btn-warning">PRIMO PIANO</button>
    </div>-->    
</div>

<!--
<div class="scritte_piantina PIANTINA1" style="position: fixed;top: 30vh;left: -5vh;transform: rotate(-90deg);font-size: 5vh;">ESTERNO</div>
<div class="scritte_piantina PIANTINA1" style="position: fixed;top: 60vh;left: 38vh;font-size: 5vh;">CORTE</div>
<div class="scritte_piantina PIANTINA1" style="font-weight:bold;position: fixed;top: 70vh;left: 41vh;font-size: 3vh;">FILA 200</div>
<div class="scritte_piantina PIANTINA1" style="font-weight:bold;position: fixed;top: 81.5vh;left: 41vh;font-size: 3vh;">FILA 300</div>
<div class="scritte_piantina PIANTINA1" style="position: fixed;top: 110vh; left: 35vh;font-size: 5vh;">INTERNO</div>
-->