<!--CALCOLA IL RESTO-->
<div class="container-fluid col-md-12 col-xs-12 modal" id="popup_legenda_colori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Farblegende</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div style="width:25px;height:25px;background-color:silver;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tisch frei</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:brown;float:left;">&nbsp;</div><div style="float:left">&nbsp;Tisch in Gebrauch</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:red;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Tisch besetzt</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#FFA07A;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Bestellung eingestellt</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:cyan;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Getrennte Rechnung</div>
                    <br/>
                    <br/><div style="width:25px;height:25px;background-color:#3498db;float:left;">&nbsp;</div><div style="float:left;">&nbsp;Gedruckte  Rechnung</div>               
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#popup_legenda_colori').modal('hide');" class="btn btn-success">Alles klar!</button>
            </div>
        </div>
    </div>
</div>

<div id="mappa_tavoli">
    <!--L'altezza va impostata altrimenti non si riescono a cliccarei  tasti nel tablet-->
    <div class="row" id="barra_pulsanti_tavoli" style="height:100px">
        <div class="col-md-3 col-xs-3"></div>
        <div id="amministrazione">
            <div class="col-md-2 col-xs-2"><input style="margin-top:20px;" type="text" class="form-control kb_num" id="numero_tavolo" placeholder="Nummer von neuem Tisch" required></div>

            <div class ="col-md-2" > 
                <div class="col-md-4 col-xs-4"><div class="tavolo rett-min forma_selezionata"></div></div>
                <div class="col-md-4 col-xs-4"><div class="tavolo cerc-min"></div></div>
                <div class="col-md-4 col-xs-4"><button style="margin-top:15px;" class="btn btn-tav" id="nuovo_tavolo">Erstellen</button></div>
            </div>

            <div class="col-md-3 col-xs-3">
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-tav" id="btn_cancella_tavolo_singolo" onclick="deletor();">Tisch l&ouml;schen</button></div>
                <div class="col-md-6 col-xs-6"><button style="margin-top:15px;" class="btn btn-danger" id="cancella_tutti_tavoli">Alle l&ouml;schen</button></div>
            </div>
        </div>

        <div id="tasti_cameriere" class="col-xs-9 col-md-9" >

            <button style="font-size: 24px;text-transform:uppercase" onclick="tav_sblocca_tavolo();" style="margin-top:15px;"  class="btn btn-tav" id="tav_sblocca_tavolo">Tisch freigeben</button>

            <button style="font-size: 24px;text-transform:uppercase" onclick="$('#popup_sposta_tavoli').modal('show')" style="margin-top:15px;"  class="btn btn-tav" id="tav_sposta_tavoli">Vorg&auml;nge</button>

            <button style="font-size: 24px;text-transform:uppercase" onclick="$('#popup_legenda_colori').modal('show');" style="margin-top:15px;"  class="btn btn-tav" id="tav_legenda_colori">Farblegende</button>           

            <button style="font-size: 24px;text-transform:uppercase" onclick="$('#popup_amministrazione .row').show();$('#popup_amministrazione').modal('show');" style="margin-top:15px;"  class="btn btn-info elimina_tedeschi" id="tav_legenda_colori">Wartung</button>

            <button style="font-size: 24px;text-transform:uppercase;width:100px;" onclick="disconnetti();"  class="btn btn-danger">X</button> 

            <span class="pull-right contenitore_orologio" style="padding-top:8px;"><input type="time" class="form-control orologio" style="color: snow; font-size: 50px; font-weight: bold;background-color: transparent;" readonly="readonly"></span>

            <button style="text-transform:uppercase" onclick="disegna_tavoli_salvati();" style="margin-top:15px;" class="btn btn-tav pull-right" id="tav_btn_refresh"><img src="./img/refresh.png" /></button>           

        </div>

    </div>
    <div class="row" >
        <div class="col-md-12 col-xs-12" id="contenitore_tavoli" style=" height:850px; padding:0;">
        </div> 
    </div>

    <div class="row" >

         <!--<button style="text-transform:uppercase" onclick="seleziona_sala('PIANTINA 1')" class="btn_nome_sala btn btn-warning">PIANTINA 1</button>-->
        <!--<button style="text-transform:uppercase" onclick="seleziona_sala('PIANTINA 2')" class="btn_nome_sala btn btn-warning">PIANTINA 2</button>-->
    </div>    
</div>
