
    
        
            
            
            <span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">n° CONTINUO_1</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">BAR</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">Operatore: COMANDA</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">22/06/17 </span>
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">09:04</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">Coperti: 1</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">----------------- BIBITE -----------------</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">1</span>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">COCA COLA MEDIA</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">1</span>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">SPREMUTA ARANCIA</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">1</span>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">SPREMUTA POMPELMO</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">1</span>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">THE LIMONE PICCOLO</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">1</span>
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">THE LIMONE MEDIO</span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">-----------------------------------------</span>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">5</span>
            
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print">articoli </span>
            
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<br xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
<span xmlns:x="http://www.epson-pos.com/schemas/2011/03/epos-print"/>
            
            
            
            
            
            
            
            
            
            
        
    
